<%- include ('../import/head.ejs'); %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include ('../import/topnav.ejs'); %>

    <!-- Main Sidebar Container -->
    <%- include ('../import/sidenav.ejs'); %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <h1>BoardPage</h1>
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div id="fineDust" class="small-box">
                        <div class="inner">
                            <h3 id="stationName"></h3>
                            <p id="pm10"></p>
                            <p id="pm25"></p>
                        </div>
                        <div class="icon">
                            <i id="emotion" class="ion"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p id="demo"></p>

        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header bg-black">
                                <h3 class="card-title">
                                    <i class="fas fa-head-side-mask"></i>
                                    현재 코로나 상황
                                </h3>
                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active text-white" href="#revenue-chart" data-toggle="tab">Today</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" href="#sales-chart" data-toggle="tab">Week</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="revenue-chart"
                                         style="position: relative; height: 300px;">
                                        <div class="inner">
                                            <h3 id="covid"></h3>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 100%;">
                                        <table id="week" class="table">
                                            <tr>
                                                <th>날짜</th>
                                                <th>확진자 수</th>
                                                <th>전 날 대비 확진자 수</th>
                                            </tr>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- DIRECT CHAT -->
                        <!--/.direct-chat -->

                        <!-- TO DO List -->
                        <!-- /.card -->
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->

                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <%- include ('../import/footer.ejs'); %>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include ('../import/script.ejs'); %>

