<%- include ('../import/head.ejs'); %>
<body class="hold-transition sidebar-mini layout-fixed" onload="getLocation()">
<div class="wrapper">

    <%- include ('../import/topnav.ejs'); %>

    <!-- Main Sidebar Container -->
    <%- include ('../import/sidenav.ejs'); %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <h1>BoardPage</h1>
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div id="fineDust" class="small-box">
                        <div class="inner">
                            <h3 id="stationName"></h3>
                            <p id="pm10"></p>
                            <p id="pm25"></p>
                        </div>
                        <div class="icon">
                            <i id="emotion" class="ion"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p id="demo"></p>
    </div>
    <!-- /.content-wrapper -->
    <%- include ('../import/footer.ejs'); %>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include ('../import/script.ejs'); %>

