
<%- include ('../import/head.ejs');%>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include ('../import/topnav.ejs');%>

    <!-- Main Sidebar Container -->
    <%- include ('../import/sidenav.ejs');%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <h1>BoardPage</h1>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include ('../import/footer.ejs');%>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include ('../import/script.ejs');%>
